@import "../../settings/settings.scss";

.LeftProggressSection {
  // background-color: green;
  pointer-events: all;
  display: flex;
  justify-content: center;

  width: $leftProggress_width;

  .LeftProggressSection_Continue {
    height: 30px;
    width: 100%;
  }

  .LeftProggressSection_Main{
    flex-direction: column;
    @include smallButtons;
  }
  
}
