@import "../../settings/settings.scss";

.RoofChooseSection {
  background-color: rgba(224, 224, 224, 0.497);

  pointer-events: all;

  display: flex;

  width: 100%;
  height: 100%;

  .RoofChooseSection_Left {
    display: flex;

    width: 40%;
    height: 100%;

    background-color: white;
  }

  .RoofChooseSection_Right {
    width: 60%;
    height: 100%;

    .RoofChooseSection_Right_SwitchMode {
      z-index: 1;

      position: absolute;
      @include smallButtons;

      flex-direction: column;
      align-items: center;

      width: $leftProggress_width;

      margin: $pannelChoosePadding;
    }
  }
}
